#modalcontainer-component {
    .modal-content {
        white-space: pre;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: transparent;
        border: 0;
    }
}